[Unit]
Description=Update External IP address to a Dynamic DNS server
Wants=network-online.target
After=network-online.target

[Service]
# Set the following USER to your user name.
User=#USER#
# Set the following WORKDIR to the source program directory (where you
# git cloned)
WorkingDirectory=#WORKDIR#
ExecStart=#WORKDIR#/%p

[Install]
WantedBy=default.target
