[Unit]
Description=Update External IP address to a Dynamic DNS server
Wants=network-online.target
After=network-online.target

[Service]
# Set the following USER to your user name.
User=#USER#
# Set the following PROGDIR to the source program directory (where you
# git cloned)
WorkingDirectory=#PROGDIR#
ExecStart=#PROGDIR#/%p

[Install]
WantedBy=default.target
